<form action="/prehistoric_creatures" method="post">
    <label for="prehistoricType">Name:</label>
    <input type="text" name="type" id="prehistoricType">

    <button type="submit">Add a New Dino!</button>
</form>